venv
logs
__pycache__
tmp
cleanup
python-example
omemo
config.yaml
attachments
*SESSION-ROTATE*
sip_dev_paths/
AppDir*/
*.AppImage
.package-builder-apt/
appimage-build/
LICENSE.COMMERCIAL
test-drunk-xmpp.conf
test-drunk-xmpp-logs
*.db
*.zsync
old_docs
